{
  "presets": ["stage-0", "es2015"],
  "plugins": [
    ["module-alias", [
      { "src": "./src/utils", "expose": "utils" },
      { "src": "./config", "expose": "config" }
    ]],
    "typecheck",
    "syntax-flow",
    "transform-flow-strip-types",
    "autobind-class-methods"
  ],
  "ignore": []
}
